extends layout

block content
  script(src='/js/index.js')
  div#app
    div#box
      md-button#sendMsg.md-raised.md-primary 发消息给原生
      md-button#useNative.md-raised.md-primary js调用原生方法
      md-button#reload.md-raised.md-primary 重新加载页面
    p Welcome to #{title}

