doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='/framework/vue-material.css')
    script(src='/framework/vue.min.js')
    script(src='/framework/vue-material.js')
  body
    block content
