doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel="stylesheet" href="MUI/mui.min.css")
    script(src="MUI/mui.min.js")
    script(src='/framework/vue.min.js')
  body
    block content
