extends layout

block content
  link(href='/css/publish.css', rel="stylesheet")
  link(href='/framework/vue-material.css', rel="stylesheet")
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  script(src="/framework/vue-material.js")
  div#app
    div#form
      h2#title {{text}}
      md-input-container
        label 物品名称
        md-input
      md-input-container
        label 价格(元)
        md-input
      md-input-container
        label 物品描述
        md-textarea(maxlength='200')
      div#add
        div#add-photo
          span 添加图片
          md-button.md-icon-button.md-raised.md-accent
            md-icon add
        div#photos
          div.imgBox(v-for="img in images")
            img(v-if="img.url", :src="img.url")
          //img(src='/images/shuijiao.jpg')
          //img(src='/images/shuijiao.jpg')
          //img(src='/images/shuijiao.jpg')
          //img(src='/images/shuijiao.jpg')
      md-button.md-raised.md-primary#submit(@click.native="submit") 发布
  script(src="/js/publish.js")