extends layout

block content

    script(src='/js/mui.zoom.js')
    script(src='/js/mui.previewimage.js')
    script(src='/js/sell.js')
    div#app
        // 下拉刷新容器
        #refreshContainer.mui-content.mui-scroll-wrapper
            .mui-scroll
                .mui-content
                    .mui-row.mui-col-sm-12.mui-col-xs-12
                        .mui-col-xs-6.mui-col-sm-6(style='padding-right: 5px;')
                            .mui-card
                                // 内容区
                                .mui-card-content.mui-card-media
                                    img(src='../images/cbd.jpg',width='100%', height='100%',data-preview-src='', data-preview-group='1',data-content='我是标题')
                                // 页脚，放置补充信息或支持的操作
                                .mui-card-footer
                                    .mui-row.mui-col-sm-12.mui-col-xs-12
                                        .mui-row.mui-col-xs-12.mui-col-sm-12
                                            .mui-col-sm-6.mui-col-xs-6.good_name
                                                | MacPridfd
                                            .mui-col-sm-6.mui-col-xs-6.good_price
                                                | 999$
                                        .mui-row.mui-col-xs-12.mui-col-sm-12
                                            .mui-col-sm-12.mui-col-xs-12.good_detail
                                                | hualyzhensfdsfsdfdssfg
                                        .mui-row.mui-col-xs-12.mui-col-sm-12
                                            .mui-col-sm-6.mui-col-xs-6.seller_name
                                                | hualyzhengdf
                                            .mui-col-sm-6.mui-col-xs-6.seller_phone
                                                | 18827778887
                        .mui-col-xs-6.mui-col-sm-6
                            .mui-card
                                // 页眉，放置标题
                                //.mui-card-header.mui-card-media.mui-media-body
                                //    .mui-row.mui-col-xs-12.mui-col-sm-12
                                //        .mui-col-sm-6.mui-col-xs-6
                                //            | hualdfdfdy
                                //        .mui-col-sm-6.mui-col-xs-6
                                //            | 12345678909
                                // 内容区
                                .mui-card-content.mui-card-media
                                    img(src='../images/cbd.jpg',width='100%', height='100%',data-preview-src='', data-preview-group='2',data-content='我是标题11我是标题11我是标题11我是标题11我是标题11我是标题11我是标题11我是标题11我是标题11我是标题11我是标题11我是标题11我是标题11我是标1')
                                // 页脚，放置补充信息或支持的操作
                                .mui-card-footer
                                    .mui-row.mui-col-sm-12.mui-col-xs-12
                                        .mui-row.mui-col-xs-12.mui-col-sm-12
                                            .mui-col-sm-6.mui-col-xs-6.good_name
                                                | MacPridfd
                                            .mui-col-sm-6.mui-col-xs-6.good_price
                                                | 999$
                                        .mui-row.mui-col-xs-12.mui-col-sm-12
                                            .mui-col-sm-12.mui-col-xs-12.good_detail
                                                | hualyzhensfdsfsdfdssfg
                                        .mui-row.mui-col-xs-12.mui-col-sm-12
                                            .mui-col-sm-6.mui-col-xs-6.seller_name
                                                | hualyzhengdf
                                            .mui-col-sm-6.mui-col-xs-6.seller_phone
                                                | 18827778887
