.choose {
  padding: 0.4rem;
  border-radius: 0;
}

.noData {
  text-align: center;
}

.mui-scroll-wrapper {
  top: 3rem !important;
}

* {
  touch-action: none
}

#loading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
}

.img {
  min-width: 3.2rem;
  min-height: 3.2rem;
}

.nav-box {
  display: flex;
}

.nav {
  flex: 1
}